apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  namespace: demo
  labels:
    app: mysql
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: db-container
        image: 746669196057.dkr.ecr.us-east-2.amazonaws.com/mysql-db:5
        env: 
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: root-password
        ports:
        - containerPort: 3306
